body {
	font-family: 'Nunito', sans-serif;
	color: #FAF3BC;
	background: #003366 url('img/ink.jpg') repeat;
}

a {
	color: #4FB69F;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.500em;
	color: #FFCC00;
}

.btn {
	color: #FAF3BC;
	background: #FF0033 url('img/texture.png') no-repeat right top;
	padding: 15px 30px;
	margin: 40px 0px;
	border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover {
	background: #CC0033;
}

ul.nav {
	margin: 120px 0 0 0;
	list-style: none;
	float: right;
}

ul.nav li {
	float: left;
	margin-right: 40px;
}

ul.nav li a {
	color: #FAF3BC;
}

#intro {
	margin: 50px 0 75px 0;
}

#jacket img {
	border: 8px solid #FAF3BC;
}

#hammock img {
	border: 8px solid #FAF3BC;
	margin: 5px 0 20px 0;
}

#motor img {
	border: 8px solid #FAF3BC;
}

#copyright {
	border-top: 8px solid #2A0400;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}








